{% extends "base.html" %}
{% block title %}
    Cozy Eats
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a class="is-readable" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1 class="ing-page">{{ recipe_object.title }}</h1>
        <img src="{{ recipe_object.picture }}">
        <p class="descript">{{ recipe_object.description }}</p>
        <button>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
        </button>
        <h2 class="ing-title">Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="ing-title">Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
{% endblock content %}
