{% extends "base.html" %}
{% block title %}
    Cozy Eats
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a class="is-readable" href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Edit</h1>
        <h2 class="edit_page">{{ recipe.title }}</h2>
        <form id="form-container" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <h2 class="edit_page">Ingredients</h2>
                {{ ingredient_formset.management_form }}
                <div id="ingredient-forms">
                    {% for ingredient_form in ingredient_formset %}
                        <div>{{ ingredient_form.as_p }}</div>
                    {% endfor %}
                </div>
                <button type="button" id="add-ingredient">Add Ingredient</button>
            </div>
            <div>
                <h2 class="edit_page">Steps</h2>
                {{ recipestep_formset.management_form }}
                <div id="step-forms">
                    {% for recipestep_form in recipestep_formset %}
                        <div>{{ recipestep_form.as_p }}</div>
                    {% endfor %}
                </div>
                <button type="button" id="add-step">Add Step</button>
            </div>
            <button>Save Changes</button>
        </form>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const addIngredientButton = document.getElementById('add-ingredient');
                const addStepButton = document.getElementById('add-step');
                const ingredientFormsDiv = document.getElementById('ingredient-forms');
                const recipestepFormsDiv = document.getElementById('step-forms');

                addIngredientButton.addEventListener('click', function () {
                    const totalForms = document.querySelector('#id_ingredients-TOTAL_FORMS');
                    const currentCount = parseInt(totalForms.value);
                    const newForm = document.createElement('div');
                    newForm.innerHTML = '{{ ingredient_formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
                    newForm.querySelector('[name$="-DELETE"]').setAttribute('name', `ingredients-${currentCount}-DELETE`);
                    totalForms.value = currentCount + 1;
                    ingredientFormsDiv.appendChild(newForm);
                });

                addStepButton.addEventListener('click', function () {
                    const totalForms = document.querySelector('#id_steps-TOTAL_FORMS');
                    const currentCount = parseInt(totalForms.value);
                    const newForm = document.createElement('div');
                    newForm.innerHTML = '{{ recipestep_formset.empty_form.as_p|escapejs }}'.replace(/__prefix__/g, currentCount);
                    newForm.querySelector('[name$="-DELETE"]').setAttribute('name', `steps-${currentCount}-DELETE`);
                    totalForms.value = currentCount + 1;
                    recipestepFormsDiv.appendChild(newForm);
                });
            });
        </script>
    </main>
{% endblock content %}
