{% extends "base.html" %}
{% block title %}
    Cozy Eats
{% endblock title %}
{% block content %}
    <body>
        <header>
            <nav>
                {% if user.is_authenticated %}
                    <div class="greeting">Hello, {{ user.first_name }}</div>
                    <a class="is-readable" href="{% url 'recipe_list' %}">Main page</a>
                    <a class="is-readable" href="{% url 'create_recipe' %}">Create a Recipe</a>
                    <a class="is-readable" id="leave" href="{% url 'user_logout' %}">Logout</a>
                {% else %}
                    <a class="is-readable" href="{% url 'recipe_list' %}">Main page</a>
                    <a class="is-readable" href="{% url 'signup' %}">Sign Up</a>
                    <a class="is-readable" href="{% url 'user_login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        <main>
            <h1>Cozy Eats</h1>
            <h2>Warm food from my childhood</h2>
            <div class="container">
                {% for recipe in recipe_list %}
                    <div class="cell">
                        <h3>
                            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                        </h3>
                        <img src="{{ recipe.picture }}">
                        <p class="dates">{{ recipe.created_on|date:"" }}</p>
                    </div>
                {% endfor %}
            </div>
        </main>
    </body>
{% endblock content %}
