{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a class="is-readable" href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <div>
            <h1 class="login">Login</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Login</button>
            </form>
        </div>
        <div>
            <h2 class="signup">New User?</h2>
            <div>
                <a id="signuplink" href="{% url 'signup' %}">
                    <button>Sign Up Here</button>
                </a>
            </div>
        </div>
    </main>
{% endblock content %}
