@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #d3c3d2;
}

main {
    padding-bottom: 16px;
    margin-left: 10px;
    font-family: 'Alumni Sans';
    font-style: italic;
}

/* footer {
    color: white;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 30px;
    background-color: #3c2a2f;
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
} */
img {
    height: 200px;
    width: auto;
}
nav {
    display: grid;
    /* grid-template-columns: repeat(4, 4%); */
    padding: 16px;
    background: #3c2a2f;
    width: 100%;
}
.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cell {
    display: inline-block;
    padding: 20px;
}
a {
    color: #3c2a2f;
    text-decoration: none;
}
h1 {
    color: #3c2a2f;
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.is-readable {
    color: #d3c3d2;
}
a:hover {
    color: #b27cc5;
}
td, th {
    display: table-cell;
}
h2{
    color: #b27cc5;
    font-size: 38px;
}
h3 {
    font-size: 30px;
}
.ing-page{
    color: #3c2a2f;
}
.ing-title{
    color: #764e47;
}
table tr:nth-child(even) {
    background-color: #9e857f;
}
.dates {
    color: rgba(90, 88, 88, 0.774);
}
/* #leave {
    color:antiquewhite;
} */
/* .err_message {
    color:#325c5c !important;
    padding: 20px;
} */
.greeting {
    color: #bf8ed4;
}
.descript {
    font-style: italic;
    color: #202020;
    font-size: 20px;
}
.signup {
    margin: 0px;
    padding-top: 30px;
}
.login {
    margin: 0px;
    padding-bottom: 15px;
}
#signuplink {
    font-size: 20px;
    font-weight: bolder;
}
.edit_page {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
