{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% comment %} <footer>Made with love by Scrumptious Recipes</footer> {% endcomment %}
    </body>
</html>
